@{
    ViewBag.Title = "Administrative Divisions";
}
@model IEnumerable<AdministrativeDivisionViewModel>
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coordinates)
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coordinates[0].Latitude),
                        @Html.DisplayFor(modelItem => item.Coordinates[0].Longitude)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>